body {
  height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background-color: #6857e6;
  padding: 10px 0;
  z-index: 1000;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 14px;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li img {
  height: 30px;
  vertical-align: middle;
}

main {
  margin-top: 60px;
  padding: 20px;
  position: relative;
  display: inline-block;
}

.productos img {
  margin-left: 600px;
  width: 600px;
}

.contenedor {
  position: relative;
  display: inline-block;
  width: 700px;
  height: auto;

}

.extra {
  position: absolute;
  left: 700px;
  bottom: 20px;
  width: 150px; 
}

.padre {
  width: 500px;
}

